.login {
	text-align: center;
}

.login_box {
	background-color: rgb(223, 204, 251);
	border-radius: 20px;
	padding: 50px;
}

.login-button {
	margin: 20px;
	width: 150px;
}

/* https://colorhunt.co/palette/fff3dadfccfbd0bfffbeadfa */
