.login {
	text-align: center;
	margin: auto;
	max-width: 50%;
	min-width: 600px;
}

.login_box {
	background-color: rgb(223, 204, 251);
	border-radius: 20px;
	padding: 50px;
	border-width: 0px;
	margin: 100px;
}

.login-button {
	margin: 20px;
	width: 150px;
}

/* https://colorhunt.co/palette/fff3dadfccfbd0bfffbeadfa */
