.option {
	padding: 100px;
	text-align: center;
	color: rgb(118, 83, 244);
	border-color: rgb(255, 243, 218);
	border-width: 2px;
	border-radius: 50px;
	border-style: solid;
}
.option:hover {
	/* box-shadow: inset; */
	background-color: rgb(192, 179, 237);
}

.link-to-register {
	text-decoration: none;
}
